In [1]:
import pandas as pd
# 元データ。要素として文字列が含まれている
df1=pd.DataFrame({'職業':['教師','プログラマー','公務員']})
df1

       職業
0      教師
1  プログラマー
2     公務員

In [2]:
df1['職業']=df1['職業'].str.replace('教師','0')
df1['職業']=df1['職業'].str.replace('プログラマー','1')
df1['職業']=df1['職業'].str.replace('公務員','2')

In [3]:
df1['職業'] = df1['職業'].astype(float)

In [4]:
df1

    職業
0  0.0
1  1.0
2  2.0

In [6]:
import numpy as np

# 2番目と3番目のデータが欠損しているデータ作成
df2 = pd.DataFrame({'職業':['教師',np.nan,np.nan,'プログラマー']})
print(df2)

       職業
0      教師
1     NaN
2     NaN
3  プログラマー

In [7]:
#欠損値を除外
df2=df2.dropna(subset=['職業'])

In [9]:
df2

       職業
0      教師
3  プログラマー